@page "/products/{Id:int}/details"
@attribute [Authorize]
@inject IProductService ProductService
@inject NavigationManager NavigationManager

@if (PageProduct != null)
{
    <PageTitle>@PageProduct.Name</PageTitle>
    
    <MudContainer>
        <MudPaper Class="mb-5" Elevation="1">
            <h1 class="text-center">@PageProduct.Name</h1>
        </MudPaper>
        <MudPaper Class="mb-5" Elevation="0">
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Elevation="0">
                        <MudList Clickable="true" Dense="false" DisableGutters="false">
                            <MudListItem> SKU: @PageProduct.Sku </MudListItem>
                            <MudListItem> Barcode: @PageProduct.BarCode </MudListItem>
                            <MudListItem> Name: @PageProduct.Name </MudListItem>
                            <MudListItem> SKU: @PageProduct.Category.Name </MudListItem>
                        </MudList>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6">
                    <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Elevation="0">
                        xs=12 sm=6
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudContainer>
}
else
{
    <PageTitle>Product Not Found</PageTitle>
    
    <MudAlert Severity="Severity.Warning">This product does not exist</MudAlert>

    <MudButton Class="mt-5" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.SkipPrevious" 
               Color="Color.Tertiary" @onclick="GoBack" aria-label="Go back">Go Back</MudButton>
}


@code {

    [Parameter]
    public int Id { get; set; }

    public Product? PageProduct;

    protected override async Task OnInitializedAsync()
    {
        await GetProduct();
    }


    // get product function
    private async Task GetProduct()
    {
        PageProduct = await ProductService.GetProduct(Id)!;
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/products");
    }

}