@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container">
    <article class="grid">
        <div>
            <hgroup>
                <h1>Sign in</h1>
                <h2>A minimalist layout for Login pages</h2>
            </hgroup>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                
                <input type="text" placeholder="Username/Email" asp-for="Input.Email"
                       autocomplete="username" required/>
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input type="password" placeholder="Password" asp-for="Input.Password"
                       autocomplete="current-password" required/>
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <fieldset>
                    <label for="remember">
                        <input asp-for="Input.RememberMe" type="checkbox" role="switch" id="remember"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </fieldset>
                <button id="login-submit" type="submit" class="contrast">Login</button>
            </form>
        </div>
        <div>
            <section>
                <h3>Other Account Actions</h3>
                <hr/>
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) != 0)
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
                <div>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    <br/>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    <br/>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    <br/>
                </div>
            </section>
        </div>
    </article>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
